<a href="https://colab.research.google.com/github/Dsushmitha/Web-Scrapping-and-Data-Visualisation-with-Python/blob/main/Web_Scraping_with_Python_Starter_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Step 1: Loading modules**
Before we start scrapping the target website, we need to import some necessary modules from the system library.
*   “requests” includes the modules for sending HTTP requests to websites, the core step for web scrapping.
*   “bs4/BeautifulSoup” includes the required APIs for cleaning and formatting the data collected from the web scrapper.
*   “pandas” includes some essential functionalities for data analytics, allowing users to quickly manipulate and analyse them.
---

In [1]:
import requests 
from bs4 import BeautifulSoup 
import pandas as pd

# **Step 2: Naïve Scrapping Method (Scrapping Whole Page)**
We will now introduce the simplest way to scrape the data from a website.
*   Define a Python "list" for every column you identified in the stock price table from Yahoo! Finance.
*   Add the URL of the target website in the code.
*   Observe the stock price table and identify the column data that will be useful. Then, use the "Inspect" feature from Chrome to show the HTML content.
*   Use for-loop to format the data collected from BeautifulSoup.


**Discussions**
1.   Try to discuss the advantages and disadvantages of the method above。
2.   If the column name of the underlying table in the website changes, does this method still work?
---

In [2]:
# TODO: Use requests and BeautifulSoup（BS）to scrape website data
active_stocks_url = "https://in.finance.yahoo.com/most-active"
r = requests.get(active_stocks_url)
data = r.text
soup = BeautifulSoup(data)

# TODO: Define python lists for every column and get the HTML table
symbols=[]
names=[]
prices=[]
changes=[]
percentage_changes=[]
volumes=[]
market_caps=[]
price_earning_ratios=[]

In [3]:
"""
Using the concepts of for-loop, find all the <tr> tags from "stockTable".
Every <tr> tag represent a row of stock data (saved as listing).
We need to find all the <td> tag from the "listing", and extract its info to be inserted to the relevant python list.
"""
# TODO: Fill in the relevant HTML tag in the find_all "brackets"
stocks_table = soup.find('tbody')
for listing in stocks_table.find_all('tr'):
  symbol = listing.find('td',attrs={'aria-label':'Symbol'})
  symbols.append(symbol.text)

  name = listing.find('td',attrs={'aria-label':'Name'})
  names.append(name.text)
  
  price = listing.find('td',attrs={'aria-label':"Price (intraday)"})
  prices.append(price.text)
  
  change = listing.find('td',attrs={'aria-label':'Change'})
  changes.append(change.text)
  
  percentage_change = listing.find('td',attrs={'aria-label':'% change'})
  percentage_changes.append(percentage_change.text)
  
  volume = listing.find('td',attrs={'aria-label':'Volume'})
  volumes.append(volume.text)
  
  market_cap = listing.find('td',attrs={'aria-label':'Market cap'})
  market_caps.append(market_cap.text)
  
  price_earning_ratio = listing.find('td',attrs={'aria-label':'PE ratio (TTM)'})
  price_earning_ratios.append(price_earning_ratio.text)

In [4]:
"""
Use pandas to create a new data frame, aggregate all python lists into a single table.
You will need to know how to use Python dictionary in this part.
"""
# TODO: Display the table using a Python dataframe
df = pd.DataFrame({ "Symbol":           symbols,
                    "Name":             names,
                    "Price (intraday)": prices,
                    "Change":           changes,
                    "% change":         percentage_changes,
                    "Volume":           volumes,
                    "Market cap":       market_caps,
                    "PE ratio (TTM)":   price_earning_ratios })
df

           Symbol                                Name  ... Market cap PE ratio (TTM)
0         UVSL.NS          Uttam Value Steels Limited  ...     1.652B            N/A
1          PNB.NS                Punjab National Bank  ...   432.182B          33.12
2       DISHTV.NS               Dish TV India Limited  ...    31.326B            N/A
3   JPASSOCIAT.NS       Jaiprakash Associates Limited  ...      22.5B           1.13
4      YESBANK.NS                    Yes Bank Limited  ...   337.232B            N/A
5      JPPOWER.NS   Jaiprakash Power Ventures Limited  ...    27.831B            N/A
6         BHEL.NS    Bharat Heavy Electricals Limited  ...   252.449B            N/A
7         IDEA.NS               Vodafone Idea Limited  ...   245.688B            N/A
8         SAIL.NS    Steel Authority of India Limited  ...     490.5B          14.80
9     GTLINFRA.NS          GTL Infrastructure Limited  ...    11.047B            N/A
10    GMRINFRA.NS          GMR Infrastructure Limited  ...   163.688B            N/A
11      SUZLON.NS               Suzlon Energy Limited  ...    52.277B            N/A
12  BANKBARODA.NS                      Bank of Baroda  ...   416.812B          13.55
13        SBIN.NS                 State Bank of India  ...     3.691T          16.47
14      RPOWER.NS              Reliance Power Limited  ...    23.033B          10.06
15        HFCL.NS                        HFCL Limited  ...    61.063B          25.62
16   UNIONBANK.NS                 Union Bank of India  ...   218.473B            N/A
17        RCOM.NS     Reliance Communications Limited  ...     5.382B            N/A
18  LAKSHVILAS.NS      The Lakshmi Vilas Bank Limited  ...     2.576B            N/A
19  IDFCFIRSTB.NS             IDFC First Bank Limited  ...   358.349B          66.44
20     TRIDENT.NS                     Trident Limited  ...    85.714B          27.54
21      SUZLON.BO               Suzlon Energy Limited  ...    49.492B            N/A
22  NATIONALUM.NS  National Aluminium Company Limited  ...   131.961B          28.69
23         IOC.NS      Indian Oil Corporation Limited  ...     1.054T          21.28
24   IBREALEST.NS      Indiabulls Real Estate Limited  ...    46.899B       1,031.50

[25 rows x 8 columns]

# **Step 3: Naïve Scrapping Method (Scrapping Individual Rows)**
*   Copy and paste the Yahoo Finance link for currencies。
*   Use Chrome Inspector to inspect the HTML elements。

**Discussions**
1.   What is the difference of this method in terms of execution efficiency when compared to the previous method?
2.   If the row header, does this method still works?
3.   When should we use whole page scraping, when should we use individual row scraping?
---

In [13]:
# TODO: Scrape website data and extract info into relevant Python lists
currencies_url = "https://in.finance.yahoo.com/currencies"
r = requests.get(currencies_url)
data = r.text
soup = BeautifulSoup(data)

symbols=[]
names=[]
last_prices=[]
changes=[]
percentage_changes=[]

# TODO: Find the starting and ending data-reactid，and the difference between each column
start, end, jump = 34, 476, 17
stocks_table = soup.find('tbody')
for i in range(start,end,jump):
  listing = stocks_table.find('tr',attrs={'data-reactid':i})

  symbol = listing.find('td',attrs={'data-reactid':i+1})
  symbols.append(symbol.text)

  name = listing.find('td',attrs={'data-reactid':i+4})
  names.append(name.text)
  
  last_price = listing.find('td',attrs={'data-reactid':i+6})
  last_prices.append(price.text)
  
  change = listing.find('td',attrs={'data-reactid':i+8})
  changes.append(change.text)

  percentage_change = listing.find('td',attrs={'data-reactid':i+10})
  percentage_changes.append(percentage_change.text)


  # TODO: Display the table using a Python dataframe
df = pd.DataFrame({ "Symbol":     symbols,
                    "Name":       names,
                    "Last price": last_prices,
                    "Change":     changes,
                    "% change":   percentage_changes })
df

      Symbol     Name Last price   Change % change
0      INR=X  USD/INR     103.15  -0.0380   -0.05%
1   EURINR=X  EUR/INR     103.15  -0.1512   -0.17%
2   GBPINR=X  GBP/INR     103.15  +0.0783   +0.08%
3   AEDINR=X  AED/INR     103.15  -0.0210   -0.11%
4   INRJPY=X  INR/JPY     103.15  +0.0022   +0.15%
5   SGDINR=X  SGD/INR     103.15  +0.0760   +0.14%
6   USDIDR=X  USD/IDR     103.15  -5.0000   -0.03%
7   USDTHB=X  USD/THB     103.15  -0.0810   -0.26%
8   USDMYR=X  USD/MYR     103.15  +0.0010   +0.02%
9   USDZAR=X  USD/ZAR     103.15  -0.0236   -0.17%
10  USDRUB=X  USD/RUB     103.15  +0.0521   +0.07%
11  AUDUSD=X  AUD/USD     103.15  +0.0030   +0.38%
12  AUDJPY=X  AUD/JPY     103.15  +0.4560   +0.54%
13  NZDUSD=X  NZD/USD     103.15  +0.0080   +1.11%
14  EURUSD=X  EUR/USD     103.15  -0.0014   -0.11%
15  EURCAD=X  EUR/CAD     103.15  +0.0003   +0.02%
16     JPY=X  USD/JPY     103.15  +0.1290   +0.12%
17  GBPUSD=X  GBP/USD     103.15  +0.0018   +0.12%
18     CHF=X  USD/CHF     103.15  -0.0002   -0.02%
19     CAD=X  USD/CAD     103.15  +0.0014   +0.12%
20  EURJPY=X  EUR/JPY     103.15  +0.0110   +0.01%
21  GBPJPY=X  GBP/JPY     103.15  +0.3740   +0.24%
22  EURGBP=X  EUR/GBP     103.15  -0.0018   -0.21%
23  EURSEK=X  EUR/SEK     103.15  +0.0410   +0.41%
24  EURCHF=X  EUR/CHF     103.15  -0.0016   -0.15%
25  EURHUF=X  EUR/HUF     103.15  +1.6700   +0.48%

# **Step 4: Header Scraping Method**
This method is an advanced scraping method. The code will automatically scrape the header so that we don't have to define the list for ourselves, making the code much simpler and cleaner.

*   Copy and paste the Yahoo Finance link of cryptocurrencies
*   Scrape the headers and put those into a python list
*   Put the relevant data into a Python dictionary
---

In [6]:
crypto_url = "https://in.finance.yahoo.com/cryptocurrencies"
r = requests.get(crypto_url)
data = r.text
soup = BeautifulSoup(data)

# TODO: Use a Python list and Python dictionaruy to scrape all the headers
raw_data = {}
headers =[]
header_rows = soup.find('thead')
for header in header_rows.find_all('th'):
  headers.append(header.text)
  raw_data[header.text]=[]

rows = soup.find('tbody')
for row in rows.find_all('tr'):
  for index,row_data in enumerate(row.find_all('td')):
    header_value = headers[index]
    raw_data[header_value].append(row_data.text)

# TODO: Display the table using a Python dataframe
pd.DataFrame(raw_data)

       Symbol                 Name  ... 52-week range 1-day chart
0     BTC-INR          Bitcoin INR  ...
1     ETH-INR         Ethereum INR  ...
2    USDT-INR           Tether INR  ...
3     BNB-INR      BinanceCoin INR  ...
4     ADA-INR          Cardano INR  ...
5     XRP-INR              XRP INR  ...
6    DOGE-INR         Dogecoin INR  ...
7    DOT1-INR         Polkadot INR  ...
8    USDC-INR          USDCoin INR  ...
9    UNI3-INR          Uniswap INR  ...
10    BCH-INR      BitcoinCash INR  ...
11  MATIC-INR     MaticNetwork INR  ...
12   LINK-INR        Chainlink INR  ...
13    LTC-INR         Litecoin INR  ...
14    XLM-INR          Stellar INR  ...
15    HEX-INR              HEX INR  ...
16   SOL1-INR           Solana INR  ...
17    ETC-INR  EthereumClassic INR  ...
18    VET-INR          VeChain INR  ...
19  THETA-INR            THETA INR  ...
20    EOS-INR              EOS INR  ...
21    TRX-INR             TRON INR  ...
22    FIL-INR  FilecoinFutures INR  ...
23   AAVE-INR             Aave INR  ...
24    XMR-INR           Monero INR  ...

[25 rows x 12 columns]

# **Step 5: Making a generic scraping function**




We are going to turn the header method into a Python function. This function can also work for other types of financial products!

*   Define a good name for the function
*   Define input paramters and input value

---

In [7]:
# TODO: code a generic function scrape_table 
def scrape_table(url):
  soup = BeautifulSoup((requests.get(url)).text)
  headers = [header.text for header_rows in soup.find('thead') for header in header_rows.find_all('th')]
  raw_data = {header : [] for header in headers}

  rows = soup.find('tbody')
  for row in rows.find_all('tr'):
    if len(row) != len(headers) : continue
    for index, row_data in enumerate(row.find_all('td')):
      raw_data[headers[index]].append(row_data.text)
  return pd.DataFrame(raw_data)

df = scrape_table("https://in.finance.yahoo.com/cryptocurrencies")
df

       Symbol                 Name  ... 52-week range 1-day chart
0     BTC-INR          Bitcoin INR  ...
1     ETH-INR         Ethereum INR  ...
2    USDT-INR           Tether INR  ...
3     BNB-INR      BinanceCoin INR  ...
4     ADA-INR          Cardano INR  ...
5     XRP-INR              XRP INR  ...
6    DOGE-INR         Dogecoin INR  ...
7    DOT1-INR         Polkadot INR  ...
8    USDC-INR          USDCoin INR  ...
9    UNI3-INR          Uniswap INR  ...
10    BCH-INR      BitcoinCash INR  ...
11  MATIC-INR     MaticNetwork INR  ...
12   LINK-INR        Chainlink INR  ...
13    LTC-INR         Litecoin INR  ...
14    XLM-INR          Stellar INR  ...
15    HEX-INR              HEX INR  ...
16   SOL1-INR           Solana INR  ...
17    ETC-INR  EthereumClassic INR  ...
18    VET-INR          VeChain INR  ...
19  THETA-INR            THETA INR  ...
20    EOS-INR              EOS INR  ...
21    TRX-INR             TRON INR  ...
22    FIL-INR  FilecoinFutures INR  ...
23   AAVE-INR             Aave INR  ...
24    XMR-INR           Monero INR  ...

[25 rows x 12 columns]

# **Concept Challenge: Scrape other products**
Try using the generic function to scrape other products in Yahoo Finance!
*   Gainers
*   Losers
*   Top ETFs
---

In [8]:
# TODO: Try using the generic function to scrape other kind of products (e.g. cryptocurrencies)
Gainers = scrape_table("https://in.finance.yahoo.com/gainers")
Gainers

Losers = scrape_table("https://in.finance.yahoo.com/losers")
Losers

BSE_SENSEX = scrape_table("https://in.finance.yahoo.com/quote/%5EBSESN/history?p=%5EBSESN")
BSE_SENSEX

           Date       Open       High  ...     Close* Adj. close**  Volume
0   26-May-2021  50,899.58  51,072.61  ...  51,017.52    51,017.52       -
1   25-May-2021  50,922.32  50,961.35  ...  50,637.53    50,637.53  10,800
2   24-May-2021  50,727.28  50,857.59  ...  50,651.90    50,651.90  16,800
3   21-May-2021  49,833.98  50,591.12  ...  50,540.48    50,540.48  18,100
4   20-May-2021  49,971.52  50,099.17  ...  49,564.86    49,564.86   8,300
..          ...        ...        ...  ...        ...          ...     ...
95  04-Jan-2021  48,109.17  48,220.47  ...  48,176.80    48,176.80  13,900
96  01-Jan-2021          -          -  ...          -            -       -
97  31-Dec-2020  47,753.11  47,896.97  ...  47,751.33    47,751.33  13,900
98  30-Dec-2020  47,789.03  47,807.85  ...  47,746.22    47,746.22  15,600
99  29-Dec-2020  47,466.62  47,714.55  ...  47,613.08    47,613.08  12,800

[100 rows x 7 columns]

# Step 6: Data Wrangling 

**Datatype Conversion**

This part will make use of the stock data we have collected from our web scrapper. However, the data collected are all stored as "strings". In other words, the data is regarded as textual data even if the underlying data is representing a number. We need to convert them into right formats for the chart plotting tools.

Steps in data conversion：
1.   Remove all the commas in the number data, and change columns that contain number data to floating point.
2.   Change all columns that contain dates to datetime.
3.   Recover abbreaviated numbers, for example, recover "1M" to 1000000.

In [9]:
from datetime import datetime
def convert_column_to_float(df, columns):
# TODO: code the logic for string to float
  for column in columns:
    df[column] = pd.to_numeric(df[column].str.replace(',','').str.replace('%',''))
  return df

def convert_column_to_datetime(df, columns):
# TODO: code the logic for string to datetime
  for column in columns:
    df[column] = pd.to_datetime(df[column])
  return df
BSE_SENSEX = convert_column_to_datetime(BSE_SENSEX, ['Date'])
BSE_SENSEX

def revert_scaled_number(number):
# TODO: code the logic for converting the string abreviations back to number
  mapping = { 'M' : 1000000,
              'B' : 1000000000,
              'T' : 1000000000000}
  scale = number[-1]
  if scale not in ['M','B','T']:
    return float(number.replace(',',''))
  return float(number[0:-1].replace(',','')) * mapping[scale]

crypto = scrape_table("https://in.finance.yahoo.com/cryptocurrencies")
crypto = convert_column_to_float(crypto,['Price (intraday)','Change'])
crypto['Market cap'] = crypto['Market cap'].apply(revert_scaled_number)
crypto

       Symbol                 Name  ...  52-week range  1-day chart
0     BTC-INR          Bitcoin INR  ...
1     ETH-INR         Ethereum INR  ...
2    USDT-INR           Tether INR  ...
3     BNB-INR      BinanceCoin INR  ...
4     ADA-INR          Cardano INR  ...
5     XRP-INR              XRP INR  ...
6    DOGE-INR         Dogecoin INR  ...
7    DOT1-INR         Polkadot INR  ...
8    USDC-INR          USDCoin INR  ...
9    UNI3-INR          Uniswap INR  ...
10    BCH-INR      BitcoinCash INR  ...
11  MATIC-INR     MaticNetwork INR  ...
12   LINK-INR        Chainlink INR  ...
13    LTC-INR         Litecoin INR  ...
14    XLM-INR          Stellar INR  ...
15    HEX-INR              HEX INR  ...
16   SOL1-INR           Solana INR  ...
17    ETC-INR  EthereumClassic INR  ...
18    VET-INR          VeChain INR  ...
19  THETA-INR            THETA INR  ...
20    EOS-INR              EOS INR  ...
21    TRX-INR             TRON INR  ...
22    FIL-INR  FilecoinFutures INR  ...
23   AAVE-INR             Aave INR  ...
24    XMR-INR           Monero INR  ...

[25 rows x 12 columns]

**Filtering dataframe**

- We can scrape all the active stocks easily now
- Let's try to separate them into rising and losing stocks?

In [32]:
# TODO: first scrape the active stocks table using the web scraper function
active_stocks = scrape_table("https://in.finance.yahoo.com/most-active")

# TODO: change the data type of the dataframe columns
active_stocks = convert_column_to_float(active_stocks,['% change'])

# TODO: filter the dataframe by % Change (pos/neg)
Gaining = active_stocks[active_stocks['% change']>0]
Gaining

Losing = active_stocks[active_stocks['% change']<0]
Losing

           Symbol  ... 52-week range
1          PNB.NS  ...
4      YESBANK.NS  ...
6         BHEL.NS  ...
8         SAIL.NS  ...
12  BANKBARODA.NS  ...
15        HFCL.NS  ...
16   UNIONBANK.NS  ...
19  IDFCFIRSTB.NS  ...
22  NATIONALUM.NS  ...

[9 rows x 10 columns]

**Sorting dataframe**

- It's not quite clear which stock is the top gainer/loser
- We can sort the dataframe and see it clearly

In [33]:
# TODO: get the losing stocks
Gaining = Gaining.sort_values(by=['% change'], ascending=False)
Gaining

Losing = Losing.sort_values(by=['% change'], ascending=True)
Losing

           Symbol  ... 52-week range
8         SAIL.NS  ...
6         BHEL.NS  ...
15        HFCL.NS  ...
16   UNIONBANK.NS  ...
19  IDFCFIRSTB.NS  ...
4      YESBANK.NS  ...
22  NATIONALUM.NS  ...
12  BANKBARODA.NS  ...
1          PNB.NS  ...

[9 rows x 10 columns]

Finally, if you prefer, you can add back the "+/-" sign and the percentage symbol and convert back the value to string

In [34]:
Gaining['% change']= '+' + Gaining['% change'].astype(str) + '%'

Losing['% change']=Losing['% change'].astype(str) + '%'

In [36]:
Gaining
Losing

           Symbol  ... 52-week range
8         SAIL.NS  ...
6         BHEL.NS  ...
15        HFCL.NS  ...
16   UNIONBANK.NS  ...
19  IDFCFIRSTB.NS  ...
4      YESBANK.NS  ...
22  NATIONALUM.NS  ...
12  BANKBARODA.NS  ...
1          PNB.NS  ...

[9 rows x 10 columns]